# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.git/
*.iml
out
gen

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/